<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Xiaoyang Guo</title>

  <meta name="author" content="Xiaoyang Guo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>

<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>
      <tr style="padding:0px">
        <td style="padding:0px">
          <!-- profile -->
          <table
            style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tbody>
              <tr style="padding:0px">
                <td style="padding:2.5%;width:63%;vertical-align:middle">
                  <p class="name" style="text-align: center;">
                    Xiaoyang Guo (郭晓阳)
                  </p>
                  <p>
                    I am currently a Principal Researcher at Horizon Robotics, leading a team focused on
                    3D reconstruction and simulation for autonomous driving systems.
                    I got my Ph.D. degree from <a href="http://mmlab.ie.cuhk.edu.hk/">the Multimedia Lab (MMLab)</a> at <a
                      href="http://www.cuhk.edu.hk/english/index.html">the Chinese University of Hong Kong</a>,
                    where I was fortunate to be advised by <a href="https://www.ee.cuhk.edu.hk/~xgwang/">Prof. Xiaogang Wang</a> and <a
                      href="https://www.ee.cuhk.edu.hk/~hsli/">Prof. Hongsheng Li</a>.
                    Prior to this, I obtained my Bachelor's degree in Computer Science from <a
                      href="https://www.tsinghua.edu.cn/">Tsinghua University</a>.
                  </p>
                  <p>
                    I'm particularly intertested in 3D computer vision and generative AI, with a focus on large-scale 3D reconstruction,
                    rendering, and generation.
                  </p>
                  <p>
                    I am looking for self-motivated interns to work on projects related to neural rendering, generative AI, and 3D reconstruction for autonomous driving. If you are interested, please feel free to email me.
                  </p>
                  <p style="text-align:center">
                    <a href="mailto:xiaoyang.guo1995@gmail.com">Email</a> &nbsp;/&nbsp;
                    <a href="/files/cv.pdf">CV</a> &nbsp;/&nbsp;
                    <!-- <a href="data/JonBarron-bio.txt">Bio</a> &nbsp;/&nbsp; -->
                    <a href="https://scholar.google.com/citations?hl=en&user=CrK4w4UAAAAJ">Scholar</a> &nbsp;/&nbsp;
                    <a href="https://github.com/xy-guo">Github</a>
                  </p>
                </td>
                <td style="padding:2.5%;width:30%;max-width:30%">
                  <a href="/images/portrait/xiaoyang.jpg">
                    <img style="width:100%;max-width:100%;object-fit: cover; border-radius: 50%;" alt="profile photo"
                      src="/images/portrait/xiaoyang.jpg" class="hoverZoomLink"></a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- papers -->
          <table
            style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tbody>
              {% for paper in papers %}
              <!-- {{paper.conference}}, {{paper.year}} - {{paper.title}} -->
              <tr onmouseout="{{paper.tag}}_stop()" onmouseover="{{paper.tag}}_start()" {% if paper.yellow_highlight %}
                bgcolor="#ffffd0" {% endif %}>
                <td style="padding:10px;width:25%;vertical-align:middle">
                  <div class="one" style="margin:auto">
                    <div class="two" id="{{paper.tag}}_hover" style="vertical-align:middle">
                      {% if paper.image_after is not none %}
                      <img src='{{paper.image_after}}' width=100%>
                      {% elif paper.video_after is not none %}
                      <video width=100% height=100% muted autoplay loop>
                        <source src="{{paper.video_after}}" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                      {% else %}
                        <img src='{{paper.image}}' width=100%>
                      {% endif %}
                    </div>
                    <div id="{{paper.tag}}_default">
                      <img src='{{paper.image}}' width=100%>
                    </div>
                  </div>
                  <script type="text/javascript">
                    function {{ paper.tag }}_start() {
                      document.getElementById('{{paper.tag}}_hover').style.opacity = "1";
                      document.getElementById('{{paper.tag}}_default').style.opacity = "0";
                    }

                    function {{ paper.tag }}_stop() {
                      document.getElementById('{{paper.tag}}_hover').style.opacity = "0";
                      document.getElementById('{{paper.tag}}_default').style.opacity = "1";
                    }
                    {{ paper.tag }}_stop()
                  </script>
                </td>
                <td style="padding:30px;width:75%;vertical-align:middle">
                  <a href="{{paper.url}}">
                    <span class="papertitle">{{paper.title}}
                    </span>
                  </a>
                  <br>
                  {% for author in paper.authors %}
                  {% if not author.name.startswith(name) %}
                  {% if author.url is not none %}
                  <a href="{{author.url}}">{{author.name}}</a>,
                  {% else %}
                  {{author.name}},
                  {% endif %}
                  {% else %}
                  <strong>{{author.name}}</strong>,
                  {% endif %}
                  {% endfor %}
                  <br>
                  <em>{{paper.conference}}</em>, {{paper.year}} &nbsp
                  {% if paper.special_honor is not none %}
                  <font color="red"><strong>({{paper.special_honor}})</strong></font>
                  {% endif %}
                  <br>

                  {% if paper.url_arxiv is not none %}
                  <a href="{{ paper.url_arxiv }}">[arXiv]</a>
                  {% endif %}

                  {% if paper.url_project_page is not none %}
                  <a href="{{ paper.url_project_page }}">[project page]</a>
                  {% endif %}

                  {% if paper.url_paper is not none %}
                  <a href="{{ paper.url_paper }}">[paper]</a>
                  {% endif %}

                  {% if paper.url_supp is not none %}
                  <a href="{{ paper.url_supp }}">[supp]</a>
                  {% endif %}

                  {% if paper.url_video is not none %}
                  <a href="{{ paper.url_video }}">[video]</a>
                  {% endif %}

                  {% if paper.url_poster is not none %}
                  <a href="{{ paper.url_poster }}">[poster]</a>
                  {% endif %}

                  {% if paper.url_code is not none %}
                  <a href="{{ paper.url_code }}">[code]</a>
                  {% endif %}

                  {% if paper.description is not none %}
                  <p>{{ paper.description }}</p>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>


          <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
            <tbody>
              <tr>
                <td>
                  <!-- <h2>Miscellanea</h2> -->
                </td>
              </tr>
            </tbody>
          </table>
          <table width="100%" align="center" border="0" cellpadding="20">
            <tbody>

              <tr>
                <!-- <td style="padding:20px;width:25%;vertical-align:middle"><img src="images/cvf.jpg"></td> -->
                <td width="75%" valign="center">
                  <a href=""></a>
                </td>
              </tr>

              <!-- <tr>
                <td style="padding:20px;width:25%;vertical-align:middle">
                  <img src="images/cs188.jpg" alt="cs188">
                </td>
                <td width="75%" valign="center">
                  <a href="http://inst.eecs.berkeley.edu/~cs188/sp11/announcements.html">Graduate Student Instructor,
                    </a>
                  <br>
                  <a href="http://inst.eecs.berkeley.edu/~cs188/fa10/announcements.html">Graduate Student Instructor,
                    CS188 Fall 2010</a>
                  <br>
                  <a href="http://aima.cs.berkeley.edu/">Figures, "Artificial Intelligence: A Modern Approach", 3rd
                    Edition</a>
                </td>
              </tr> -->

            </tbody>
          </table>

          <!-- footer -->
          <table
            style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tbody>
              <tr>
                <td style="padding:0px">
                  <br>
                  <p style="text-align:right;font-size:small;">
                    Thanks for the template from <a href="https://github.com/jonbarron/jonbarron_website">Jon Barron
                    </a>.
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
  </table>
</body>

</html>